<h1>
<%= link_to @resource.title.presence || @resource.url, @resource.url %>
</h1>


<dl>
	<dt>Comments:</dt>
	<dd><%= @resource.comment %></dd>

	<dt>URL:</dt>
	<dd><%= link_to @resource.url, @resource.url %></dd>

	<dt>Created:</dt>
	<dd><%= localize(@resource.created_at, :format => :long) %></dd>

</dl>

<%= link_to 'Edit', edit_resource_path(@resource) %>
<%= link_to 'Delete', resource_path(@resource), :method => :delete, data: { confirm: 'Really delete this resource?' } %>
